{{ define "index" }}

<body>
    <div class="container">
        <br>
        <form action="/search/" method="post">
            <div class="input-group w-75 mx-auto">
                <select name="field1" class="form-select">
                    <option selected value="STREET">STREET</option>
                    <option value="ANY">ANY</option>
                    {{ range .Heads }}
                    <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <input name="search1" type="text" class="form-control text-dark w-25" placeholder="Search" autofocus>
                <select name="field2" class="form-select">
                    <option selected value="HOUSE">HOUSE</option>
                    <!-- <option value="ANY">ANY</option> -->
                    {{ range .Heads }}
                    <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <input name="search2" type="text" class="form-control text-dark" placeholder="Search">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        <br>
        <table class="table table-striped table-bordered">
            <!-- <tr>
                {{ range .Heads }}
                    <th class="text-truncate">{{ . }}</th>
                {{ end }}
                <th></th>
            </tr> -->
            {{ range .ItemList }}
            <tr>
                <td><b>{{ .Date }}</b></td>
                <td><b>{{ .Mark }}</b></td>
                <td><b>{{ .Model }}</b></td>
                <td><b>{{ .Trouble }}</b></td>
                <td><b>{{ .Trouble1 }}</b></td>
                <td><b>{{ .Street }}</b></td>
                <td><b>{{ .House }}</b></td>
                <td><b>{{ .Flat }}</b></td>
                <td><b>{{ .Phone }}</b></td>
                <td><b>{{ .Other }}</b></td>
                <td><b>{{ .Repair }}</b></td>
                <td><b>{{ .Repair1 }}</b></td>
                <td><b>{{ .War }}</b></td>
                <td><b>{{ .Sum }}</b></td>
                <td><b>{{ .Note }}</b></td>
                <td>
                    <form action="/edit/" method="post">
                        <input name="id" value="{{ .Id }}" type="hidden">
                        <input name="date" value="{{ .Date }}" type="hidden">
                        <input name="mark" value="{{ .Mark }}" type="hidden">
                        <input name="model" value="{{ .Model }}" type="hidden">
                        <input name="trouble" value="{{ .Trouble }}" type="hidden">
                        <input name="trouble1" value="{{ .Trouble1 }}" type="hidden">
                        <input name="street" value="{{ .Street }}" type="hidden">
                        <input name="house" value="{{ .House }}" type="hidden">
                        <input name="flat" value="{{ .Flat }}" type="hidden">
                        <input name="phone" value="{{ .Phone }}" type="hidden">
                        <input name="other" value="{{ .Other }}" type="hidden">
                        <input name="repair" value="{{ .Repair }}" type="hidden">
                        <input name="repair1" value="{{ .Repair1 }}" type="hidden">
                        <input name="war" value="{{ .War }}" type="hidden">
                        <input name="sum" value="{{ .Sum }}" type="hidden">
                        <input name="note" value="{{ .Note }}" type="hidden">
                        <button type="submit" class="btn btn-sm btn-outline-primary">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{ end }}
        </table>
    </div>

{{ template "footer" }}
{{ end }}